body {
  background-color: rgb(96, 160, 168);
  font-size: 1.5em;
  font-family: 'Share', cursive;
}

label {
  font-size: 22px;
  font-weight: bold;
}

table {
  margin-top: 30px;
  margin-left: 40px;
  padding: 30px;
  background-color: rgb(219, 210, 125);
  border-radius: 10px;
  width: 1000px;
  clear: both;
}

form input#add-task {
  margin-top: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 5px;
  height: 1.7em;
  background-color: rgb(76, 140, 144);
}

input, label, select {
  display: block;
  font-size: 1.5em;
}

input, select{
  height: 1em;
  max-width: 90%;
  font-size: 1.3em;
}

form {
  padding-left: 30px;
  padding-bottom: 20px;
  height: 390px;
  max-width: 330px;
  background-color: rgb(151, 143, 79);
  border-radius: 10px;
  float: right;
  margin-right: 400px;
  margin-top: 30px;
  margin-bottom: 15px;
}

label:first-child {
  padding-top: 15px;
}

td {
  text-align: center;
  padding: 10px;
}

th {
  font-weight: bold;
  font-size: 1.2em;
}

button {
  font-size: 1.2em;
  border-radius: 10px;
  background-color: rgb(76, 140, 144);
}

h1 {
  font-size: 3.5em;
  padding-left: 30px;
  width: 350px;
  height: 100px;
  background-color: rgb(219, 210, 125);
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  float: left;
  margin-left: 40px;
}

/* tablets and mobile */

@media (max-width: 700px) {
  h1, form, table {
    float: none;
    margin-right: 0;
    margin-left: 0;
  }
  font {
    font-size: 75%;
  }
  th, td#description, td#priority {
    display: none;
  }
  td, table {
    padding: 0;
    margin: 0;
  }
  table {
    margin: 0;
    box-sizing: border-box;
    max-width: 400px;
    font-size: 50%;
  }
  table button {
    max-width: 50%;
  }
}

