<div class="col-xs-12 col-md-8">
  <table class="table table-striped">
   <thead>
     <tr>
      <th>Task Name</th>
      <th>Task Description</th>
      <th>Done By</th>
      <th>Priority</th>
     <th>Remove Task</th>
    </tr>
    </thead>
    <tbody>
     <tr ng-repeat="(taskId, task) in todo.tasks">
       <td>{{task.name}}</td>
       <td id="description" >{{task.desc}}</td>
       <td>{{task.due | date}}</td>
       <td id="priority">{{task.priority}}</td>
       <td>
         <a class="btn btn-primary" href="/#/todos/{{taskId}}/edit">Edit</a>         
         <button class="btn btn-danger" ng-click="todo.removeToDo(taskId)">DELETE</button>
       </td>
     </tr>
    </tbody>
  </table>
</div> 


