<div class="wrapper col-xs-6 col-md-4">
<form name="myForm" ng-submit="myForm.$valid && todo.addNewTask()" novalidate>
      <div class="form-group" ng-class="{'has-error':!todo.newTask.name}">
        <label>Name</label>
        <input class="form-control" type="text" ng-model="todo.newTask.name" required>
      </div>
      <div class="form-group" ng-class="{'has-error':!todo.newTask.desc}">
        <label>Description</label>
        <input class="form-control" type="text" ng-model="todo.newTask.desc" required>
      </div>
      <div class="form-group" ng-class="{'has-error':!todo.newTask.due}">
        <label>Done By</label>
        <input class="form-control" id="date" type="date" ng-model="todo.newTask.due" required>
      </div>
      <div class="form-group">
        <label>Priority</label>
        <select class="form-control" ng-model="todoCtrl.newTask.priority">
          <option value="{{val}}" ng-repeat="(val, text) in todo.priorityOptions">
          {{text}}
        </option>
      </select>
      </div>
      <input id="add-task" class="btn btn-success" type="submit" value="Add Task" ng-disabled="myForm.$invalid">
     </form>
</div>
<div class="list col-xs-12 col-md-8">
  <table class="table table-striped">
   <thead>
     <tr>
      <th>Task Name</th>
      <th>Task Description</th>
      <th>Done By</th>
      <th class="priority">Priority</th>
     <th>Remove Task</th>
    </tr>
    </thead>
    <tbody>
     <tr ng-repeat="(taskId, task) in todo.tasks">
       <td class="cell">{{task.name}}</td>
       <td class="cell" id="description" >{{task.desc}}</td>
       <td class="cell">{{task.due | date}}</td>
       <td class="cell priority">{{task.priority}}</td>
       <td class="cell">
         <button class="btn btn-danger" ng-click="todo.removeToDo(taskId)">DELETE</button>
       </td>
     </tr>
    </tbody>
  </table>
</div> 


